@charset "utf-8";
/* CSS Document */
#wall{
	background: url(../images/wall.png);
	background-position: center;
	background-size: cover;
	height: 600px;
	color: white;
}
a,a:hover{
	color: aliceblue;
	text-decoration: none;
	
}
/*#wall2{
	background: url(../images/knwall.jpg);
	background-position: center;
	background-size: cover;
	height: 450px;
	color: white;
}*/
html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#logs{
	border-radius: 100px;
}

.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
	color: white;
  position: relative;
  text-align: center;
  background: url(../images/wall.png) no-repeat center center/cover;
  display: table;
	border-radius: 0px;
	padding-top: 200px;
}

.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.navbar-custom .navbar-nav li {
  margin: 0;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
  border-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px;
	}}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 10px;
	background: black;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #B7181B;
	display: inline-block;
}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #FFFFFF;
}